main div.accordion .accordion-div {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50% !important;
    margin: auto !important;
}

main .accordion-whole {
    padding: var(--spectrum-global-dimension-size-600) 0;
}

main .accordion-whole .accordion-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

main div.accordion .accordion-title {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: black;
    width: 50% !important;
    margin: auto !important
}

main div.accordion .accordion-item {
    border-color: #d9d9d9 !important;
    border-bottom: var(--spectrum-alias-border-size-thin) solid;
    display: list-item;
    list-style: none;
    width: 100%;
}

main div.accordion .spectrum-Accordion-ChevronIcon {
    padding: 6px!important;
}

main div.accordion h3 {
    margin: 0;
}

main div.accordion .accordion-itemHeader {
    box-sizing: border-box;
    margin: 0;
    text-align: left;
    align-items: center;
    width: 100%!important;
    background-color: inherit;
    border: 0;
    cursor: pointer;
    padding-left: 0!important;
    display: flex;
    justify-content: flex-start;
    font-family: inherit;
    font-size: 16px !important;
    padding-left: 0 !important;
    padding-right: var(--spectrum-global-dimension-size-275);
    padding-bottom: var(--spectrum-global-dimension-size-200);
    padding-top: var(--spectrum-global-dimension-size-200);
    font-weight: var(--spectrum-global-font-weight-bold)!important;
}

main div.accordion .accordion-itemHeader:hover {
    background-color:  #e9eaeb;
    color: var(--spectrum-global-color-gray-900);
}

main div.accordion .accordion-itemContent {
    font-size: 16px;
    margin-top: var(--spectrum-global-dimension-size-150);
    padding-left: 20px!important;
    padding-bottom: var(--spectrum-global-dimension-size-200);
    display: none;
}

main div.accordion .active {
    background-color: transparent;
}
     
