main div.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
} 

main div.cards > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
} 

main div.cards > div img {
    height: 80px;
} 

main div.cards > div h3 {
    color: #2c2c2c;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
} 

main div.cards > div p {
    color: #4b4b4b;
    line-height: 24px;
    font-size: 16px;
} 


