main div.cards-container {
    max-width: 1280px;
    margin: 0 auto;
}

main div.cards {
    width: var(--spectrum-global-dimension-static-grid-fluid-width);
    background: var(--spectrum-global-color-gray-100);
    display: flex;
    justify-content: center;
    flex-direction: row;
} 

@media screen and (max-width: 1280px) {
    main div.cards {
        flex-direction: column;
    }
  }

main div.cards > div {
    text-align: center;
    display: table-cell;
    padding: var(--spectrum-global-dimension-size-1000) 0;
} 

main div.cards > div.three-cards {
    width: 33.33vw;
} 

main div.cards > div.four-cards {
    width: 25vw;
} 

@media screen and (max-width: 1280px) {
    main div.cards > div {
        display: block;
        width: 100%;
    }
  }

main div.cards > div > div {
    max-width: var(--spectrum-global-dimension-size-4600);
    padding: 0 var(--spectrum-global-dimension-size-400);
    margin: auto;
}

main div.cards > div img {
    height: var(--spectrum-global-dimension-size-1000);
    margin-top: 0;
    margin-bottom: var(--spectrum-global-dimension-size-300);
} 

main div.cards > div h3 {
    margin-bottom: var(--spectrum-global-dimension-size-200)!important;
} 

main div.cards > div p {
    margin-top: 0;
    margin-bottom: 0!important;
} 

main div.cards a.card-button {
    --gap: var(--spectrum-global-dimension-size-200);
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));

    margin-top: var(--spectrum-global-dimension-size-150);
    margin-bottom: var(--spectrum-global-dimension-size-150);
}
