main div.columns {
    display: flex;
    flex-direction: column;
    width: 100%;
} 

main div.columns > div{
    display: flex;
    flex-direction: row;
} 

main div.columns > div > div{
    flex-grow: 6;
    flex-shrink: 6;
    flex-basis: 0;
    max-height: 350px;
} 

main div.columns > div p {
    font-size: 16px;
    font-weight: 400;
    color: rgb(75, 75, 75);
    line-height: 24px;
} 


main div.columns > div h3 {
    font-size: 22px;
    color: rgb(44, 44, 44);
    font-weight: 700;
    line-height: 28.6px;

}


/* 
main div.columns > div:nth-child(odd) > div:first-child p {
    text-align: center;
}

main div.columns > div:nth-child(odd) > div:first-child img {
    max-height: 350px;
    min-width: 467px;
}

main div.columns > div:nth-child(even) > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main div.columns > div:nth-child(even) > div:first-child p {
    text-align: center;
}

main div.columns > div:nth-child(even) > div:first-child img {
    max-height: 350px;
    min-width: 467px;
}

main div.columns > div{
    flex-direction: column;
} 

@media (min-width:1000px) {
    main div.columns > div{
        flex-direction: row;
    } 

    main div.columns > div > div {
        width: 50%;
        padding: 16px;
    }

    main div.columns > div:nth-child(even){
        flex-direction: row-reverse;
    } 

}

main .columns-container {
    background-color: #f5f5f5;
    padding-left: 16.5px;
    padding-right: 16.5px;
  } */