
main div.hero {
  width: 100%;
  max-height: 500px;
  padding: 0;
  margin: 0;
}

main div.hero {
	color: #fff;
}

main div.hero > div {
  display: flex;
}

main div.hero .five-columns {
  padding-left: 64px;
  padding-right: 32px;
  flex-grow: 5;
  flex-shrink: 5;
  flex-basis: 0;
  max-height: 500px
}

main div.hero .seven-columns {
  flex-grow: 7;
  flex-shrink: 7;
  flex-basis: 0;
  max-height: 500px
}

main div.hero .heroIconContainer {
  padding: 0;
  margin: 0;
  width: 48px;
  height: 48px;
}

main div.hero .icon {
  width: 48px;
  height: 48px;
}

main div.hero h1 {
  font-family: "Adobe Clean Serif", "adobe-clean-serif", serif;
  font-size: 45px;
  line-height: 54px;
  color: #323232;
  font-weight: 900;
  margin: 0;
  padding: 24px 0 16px 0;
}

main div.hero p {
	font-size: 18px;
  line-height: 27px;
  color: #323232;
  margin: 0;
  padding: 0 0 24px 0;
}

main div.hero .heroPrimaryLink {
  float: left;
  padding-right: 16px;
}