main div.hero-container {
  background: var(--spectrum-global-color-gray-50);
  overflow: hidden;

  @media screen and (max-width: 1280px) {
    height: auto;
    padding: var(--spectrum-global-dimension-size-400);
  }
}

main div.hero-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(5 * 100% / 12);
  margin-left: var(--spectrum-global-dimension-size-800);
  margin-right: var(--spectrum-global-dimension-size-400);

  @media screen and (max-width: max-width: 1280px) {
    width: 100%;
    margin: 0;
  }
}