main div.info-container {
  background-position: center;
  background-size: cover;
}

main div.info {
  width: 90%;
  margin: 0 auto;
  background: var(--spectrum-global-color-gray-100);
  justify-content: center;
  margin-bottom: 64px;
}

main div.info h2 {
  margin-top: var(--spectrum-global-dimension-size-800);
}

main div.info code {
  display: inline-block;
  min-width: auto;
  background-color: var(--spectrum-global-color-gray-100);
  padding: 0 var(--spectrum-global-dimension-size-50);
  margin: 0;
}