main div.info {
  width: 90%;
  margin: 0 auto;
  background: var(--spectrum-global-color-gray-100);
  justify-content: center;
  margin-bottom: 64px;
}

main div.info h2 {
  margin-top: var(--spectrum-global-dimension-size-800);
}