main div.resource-card {
  width: var(--spectrum-global-dimension-static-grid-fluid-width);
  background: var(--spectrum-global-color-gray-100);
  display: flex;
  justify-content: center;
  flex-direction: row;
} 

@media screen and (max-width: 1280px) {
  main div.resource-card {
      flex-direction: column;
  }
}


main div.resource-card > div {
  text-align: center;
  display: table-cell;
  padding: var(--spectrum-global-dimension-size-1000) 0;
} 

main div.resource-card img {
  max-height: 200px;
} 