main div.resource-card-large > div{ 
  display: flex;
  flex-direction: column;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin-right: 32px;

} 

main div.resource-card-large div.resource-card-large-image-container {
  height: 330px;
  background: no-repeat;
  background-size: cover;
  background-position-x: center;
} 

main div.resource-card-large h4 {
  padding-left: 32px;
  text-align: left;
} 

div.resource-card-large p {
  padding-left: 32px;
  text-align: left;
  padding-bottom: 0;
} 

main div.resource-card-large-container-inner  {
  flex-basis: 41.666%;
} 