main div.resource-card-small> div{ 
  display: flex;
  flex-direction: row;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  padding-left: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
} 

main div.resource-card-small div.resource-card-small-image-container {
  background: no-repeat;

  background-size: 100%;
} 

div.resource-card-small p {
  text-align: left;
  padding-bottom: 0;
} 
main div.resource-card-small-container-inner  {
  flex-basis: 41.666%;
} 

