main .heading3 h3 {
    color: rgb(75, 75, 75);
    margin-top: 28px;
    margin-bottom: 4px;

    & + ul,
    & + ol {
      margin-top: 20px;
    }
}

main div.heading3 > div {
  max-width: 1280px;
  margin: 0 auto;
}
