.table {
  width: 100%;
  overflow-x: auto;
}

.table table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

@media (min-width: 600px) {
  .table table {
    font-size: var(--body-font-size-s);
  }
}

@media (min-width: 900px) {
  .table table {
    font-size: var(--body-font-size-m);
  }
}

.table table thead tr {
  border-bottom: 1px solid;
}

.table table thead tr h3 {
  font-size: var(--body-font-size-m);
  font-weight: normal;
  text-transform: uppercase;
}

.table table tbody tr {
  border-bottom: 1px solid;
  border-right: 1px solid;
}

.table table tbody tr td:nth-child(1) {
  font-weight: bold;
}

.table table th, .table table td {
  padding: 8px 16px;
  text-align: left;
}
