
.table table {
  border-collapse: collapse;
}

.table table thead tr {
  border-bottom: 1px solid var(--spectrum-global-color-gray-600);;
}

.table table thead tr {
  text-transform: uppercase;
}

.table table tbody tr {
  border-bottom: 1px solid var(--spectrum-global-color-gray-600);
  border-right: 1px solid var(--spectrum-global-color-gray-600);
}

.table table th, .table table td {
  padding: 8px 16px;
}
