pre[class*=language-] {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

main div.codeblock {
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
}

/* copied from https://raw.githubusercontent.com/adobe/aem-block-collection/main/blocks/tabs/tabs.css, then edited */

.codeblock .tabs-list {
  display: flex;
  gap: 16px;
  max-width: 100%;
  overflow-x: auto;
  margin: 0 16px;
}

.codeblock .tabs-list button {
  flex: 0 0 max-content;
  border: 0px;
  border-radius: 0;
  padding: 0;
  font-family: inherit;
  color: rgb(209, 209, 209);
  font-size: inherit;
  line-height: unset;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  white-space: unset;
  cursor: pointer;
  background-color: initial;
  border-bottom: 3px solid transparent;
  padding-top:16px;
  padding-bottom:16px;
}

.codeblock .tabs-list button:hover {
  color: rgb(255, 255, 255);
}

.codeblock .tabs-list button p {
  margin: 0;
}

.codeblock .tabs-list button[aria-selected='true'] {
  border-bottom: 3px solid rgb(255, 255, 255);  
}

.codeblock .tabs-panel {
  margin-top: -1px;
  overflow: auto;
}

.codeblock .tabs-panel[aria-hidden='true'] {
  display: none;
}