main div.info-card > ul {
  list-style: none;
  margin: 0 auto;
  display: grid;
  max-width: 1280px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(375px, 400px));
  grid-gap: 24px;
  padding: 0;
}

main div.info-card > ul > li {
  max-width: 400px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: rgb(255,255,255);
}

main div.info-card > ul > li:hover{
  border-color: rgb(177,177,177);
}

main div.info-card .cards-card-body {
  margin: 16px;
}

main div.info-card .cards-card-image {
  line-height: 0;
}

main div.info-card .cards-card-body > *:first-child {
  margin-top: 0;
}

main div.info-card > ul > li img {
  width: 400px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

a:-webkit-any-link {
  text-decoration: none;
}