@import 'node_modules/@spectrum-css/vars/dist/spectrum-global.css';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-medium.css';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-large.css';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-light.css';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-lightest.css';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-dark.css';
@import 'node_modules/@spectrum-css/vars/dist/spectrum-darkest.css';

@import 'node_modules/@spectrum-css/typography/dist/index-vars.css';
@import 'node_modules/@spectrum-css/page/dist/index-vars.css';
@import 'node_modules/@spectrum-css/button/dist/index-vars.css';
@import 'node_modules/@spectrum-css/icon/dist/index-vars.css';

@import 'node_modules/@spectrum-css/card/dist/index-vars.css';
@import 'node_modules/@spectrum-css/checkbox/dist/index-vars.css';
@import 'node_modules/@spectrum-css/link/dist/index-vars.css';
@import 'node_modules/@spectrum-css/divider/dist/index-vars.css';
@import 'node_modules/@spectrum-css/menu/dist/index-vars.css';
@import 'node_modules/@spectrum-css/popover/dist/index-vars.css';
@import 'node_modules/@spectrum-css/picker/dist/index-vars.css';
@import 'node_modules/@spectrum-css/well/dist/index-vars.css';

@import 'node_modules/@spectrum-css/actionbutton/dist/index-vars.css';

@import 'hlx_statics/blocks/announcement.css';
@import 'hlx_statics/blocks/api-browser.css';
@import 'hlx_statics/blocks/background-image.css';
@import 'hlx_statics/blocks/cards.css';
@import 'hlx_statics/blocks/columns.css';
@import 'hlx_statics/blocks/embed.css';
@import 'hlx_statics/blocks/hero.css';
@import 'hlx_statics/blocks/resource-card-large.css';
@import 'hlx_statics/blocks/resource-card-small.css';
@import 'hlx_statics/blocks/resource-card.css';
@import 'hlx_statics/blocks/site-hero.css';
@import 'hlx_statics/blocks/summary.css';
@import 'hlx_statics/blocks/info.css';
@import 'hlx_statics/blocks/banner.css';

@import 'hlx_statics/styles.css'