main div.columns-container {
    width: 100%;
    background: var(--spectrum-global-color-gray-100);
} 

main div.columns {
    width: var(--spectrum-global-dimension-static-grid-fixed-max-width);
    box-sizing: border-box;
    margin: auto;
} 

main .columns span.icon {
    display: none;
}

@media screen and (max-width: 1280px) {
    main div.columns {
        width: 100%;
    }
    main div.columns > div {
      flex-direction: column !important;
    }
}

main div.columns > div {
    display: flex;
    align-items: center;
    padding: var(--spectrum-global-dimension-size-1000) 0;
}

main div.columns > div:nth-child(even) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 1280px) {
    main div.columns > div {
        flex-direction: column;
    }
}

main div.columns div.first-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: calc(var(--spectrum-global-dimension-size-4600) - var(--spectrum-global-dimension-size-225));
    box-sizing: border-box;
    padding: 0 var(--spectrum-global-dimension-size-100);
    margin-top: 0;
}

main div.columns div.first-column img {
    max-height: 350px;
}

@media screen and (max-width: 1280px) {
    main div.columns div.first-column {
        width: 100%;
    }
}

main div.second-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    box-sizing: border-box;
    padding: 0 var(--spectrum-global-dimension-size-400);
}

@media screen and (max-width: 1280px) {
    main div.columns div.second-column {
        width: 100%;
        margin: var(--spectrum-global-dimension-size-400) 0;
    }
  }

main div.columns h3.column-header {
    margin-top: 0!important;
    margin-bottom: var(--spectrum-global-dimension-size-200)!important;
}

main div.columns h3.column-header + p {
    margin-top: 0!important;
}

main div.columns p + p {
    margin-top: var(--spectrum-global-dimension-size-300);
}

main div.columns div.product-link-container p {
    margin-top: var(--spectrum-global-dimension-size-300);
}

main div.columns div.product-link-container p + p {
    margin-left: var(--spectrum-global-dimension-size-300);
}

main div.second-column div.product-link-container {
    display: flex;
    flex-direction: row;
}

main div.second-column div.product-link-container p.icon-container { 
    display: flex;
    align-items: center;
}

main div.second-column div.product-link-container img.icon { 
    height: var(--spectrum-global-dimension-size-400);
    width: var(--spectrum-global-dimension-size-400);
    object-fit: contain;
}

main div.second-column div.product-link-container a { 
    margin-left: var(--spectrum-global-dimension-size-100);
}
