main div.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
} 

main div.cards > div{
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 32px;
} 

main div.cards > div img{
    height: 80px;
} 