footer {
  position: relative;
  padding-bottom: var(--spectrum-global-dimension-size-400);
  padding-top: var(--spectrum-global-dimension-size-600);
  background-color: var(--spectrum-global-color-gray-75);
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer {
    padding-top: 0;
  }
}

@media screen and (max-width:768px) {
  footer {
    max-width: none;
  }
}

footer > div {
  box-sizing: border-box;
  max-width: calc(12 * var(--spectrum-global-dimension-static-grid-fixed-max-width) / var(--spectrum-global-dimension-static-grid-columns));
  margin: 0 auto;
}

footer > div ul {
  list-style: none;
  padding: 0;
}

footer h3.spectrum-Heading--XS {
  position: absolute;
  white-space: nowrap;
}

footer > div ul.spectrum-Body--sizeS {
  padding-top: var(--spectrum-global-dimension-size-500);
  padding-right: var(--spectrum-global-dimension-size-200);
}

footer > div ul.spectrum-Body--sizeS > li {
  margin-top: var(--spectrum-global-dimension-size-200);
}

footer > div ul.spectrum-Body--sizeS > li:first-of-type {
  margin-top: 0;
}

footer .footer-links-container-inner {
  display: grid;
  grid-template-areas: 'apis blogs support developer';
  grid-template-columns: 30% 22% 19%;
  gap: var(--spectrum-global-dimension-size-400);
  padding: var(--spectrum-global-dimension-size-200);
}

@media screen and (max-width: 320px) {
  footer .footer-links-container-inner {
    display: flex;
    flex-direction: column;
    padding: var(--spectrum-global-dimension-size-200);
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  footer .footer-links-container-inner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

footer .footer-divider {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

footer div.footer-links-container-inner > div:nth-child(1) {
  position: relative;
  grid-area: apis;
}

footer div.footer-links-container-inner > div:nth-child(1) > div > ul > li > strong > a {
  padding-bottom: var(--spectrum-global-dimension-size-750) !important;
}

footer .footer-apis-container {
  display: flex;
}

@media screen and (max-width: 768px) {
  footer .footer-apis-container {
    flex-direction: column;
  }

  footer .footer-apis-container > div {
    margin: 0;
  }
}

footer .footer-services-container {
  margin-left: var(--spectrum-global-dimension-size-400);
}

footer .footer-services-container ul {
  padding-top: var(--spectrum-global-dimension-size-750) !important;
}

footer div.footer-links-container-inner > div:nth-child(2) {
  position: relative;
  grid-area: blogs;
}

footer div.footer-links-container-inner > div:nth-child(3) {
  position: relative;
  grid-area: support;
}

footer .footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: var(--spectrum-global-dimension-size-100);
}

footer .footer-legal ul {
  display: inline-flex;
  color: var(--spectrum-global-color-gray-700);
}

footer .footer-legal ul > li {
  margin-right: var(--spectrum-global-dimension-size-400);
}

@media screen and (max-width: 768px) {
  footer .footer-legal {
    flex-direction: column;
    align-items: flex-start;
    padding: var(--spectrum-global-dimension-size-200);
    margin: 0 auto;
  }
}

footer .footer-legal p {
  color: var(--spectrum-global-color-gray-700);
}

@media screen and (max-width: 768px) {
  footer .footer-legal p {
    display: block;
    margin-top: var(--spectrum-global-dimension-size-200);
  }
}

footer .footer-horizontal {
  margin-top: var(--spectrum-global-dimension-size-700);
}
