main div.link-block-container:has(.link-block.background-color-white) {
    background-color: white !important;
}

h1 {
    font-size: 18px !important;
    padding-bottom: 9px;  
}

p {
    font-size: 16px !important;
    display: flex;
    gap: 4px;
}

p>a {
    text-decoration: none !important;
    font-weight:500;
    line-height: 38px;
} 

p>div {
    margin-top: 0.7% !important;
}

a { 
    color: #0054b6;
}

a:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

.link-block-wrapper {
    margin: 3%;
} 
