main a.resource-card-small-container-inner {
    height: calc(160px - 4px);
    margin: 24px;
}

@media screen and (max-width: 1280px) {
  main a.resource-card-small-container-inner {
    height: calc(368px - 8px);
    margin: 24px;
    width: calc(100vw - (24px)*2);
  }
}

main div.resource-card-small-preview {
  width: calc(160px + 10px);
  padding: 0 !important;
}

@media screen and (max-width: 1280px) {
  main div.resource-card-small-preview {
    height: 240px;
    width: calc(100vw - (24px)*2);
    padding: 0 !important;
  }
}

main div.resource-card-small-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0 !important;
}

main div.resource-card-small-image-container img {
  object-fit: contain;
}

@media screen and (min-width: 1280px) {
  main div.resource-card-small-image-container img {
    max-width: 110%;
    max-height: 110%;
  }
}

main div.resource-card-small-body {
  flex: 1;
  padding: 24px !important;
  justify-content: flex-start !important;
  overflow: hidden;
}

main div.resource-card-small-header {
  width: 100%;
}

main div.resource-card-small-title {
  white-space: normal;
  text-align: left;
}

main div.resource-card-small h3 {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

main div.resource-card-small p {
  text-align: left;
  color: rgb(110, 110, 110);
  margin-top: 0;
}
