main div.carousel .img-size {
    object-fit: cover;
    width: 100% !important;
}

main div.carousel {
    width: var(--spectrum-global-dimension-static-grid-fixed-max-width);    margin: auto;
    background-color: aqua;
}

main div.carousel > div {
    padding: var(--spectrum-global-dimension-size-1000) 0; 
}

main div.carousel .carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

main div.carousel .left-container {
    flex: 0 1 50%;
    min-height: 100%;
    max-width: 50%;
    padding: 0 var(--spectrum-global-dimension-size-100);
}

main div.carousel .right-container {
    flex: 0 1 50%;
    min-height: 100%;
    max-width: 50%;
    padding: 0 var(--spectrum-global-dimension-size-100);

}