main .next-prev-wrapper {
  padding: 0 10px;
}

main .next-prev-wrapper .main-one-innerDiv {
  display: flex;
  margin-bottom: 64px;
  margin-top: 64px;
}

main .next-prev-wrapper .spectrum-Link {
  color: rgb(0, 84, 182);
}

main .next-prev-wrapper .spectrum-Icon {
  fill: currentColor;
  color: inherit;
  display: inline-block;
  pointer-events: none;
}

main .next-prev-wrapper .anchor-inside-div,
main .next-prev-wrapper .anchor_inside_divTwo {
  display: flex;
  align-items: center;
}

main .next-prev-wrapper .divTwo_div {
  margin-right: 4px;
}

main .next-prev-wrapper .icon-div,
main .next-prev-wrapper .anger_inside_divTwo>svg {
  margin-left: 4px;
}

main .next-prev-wrapper .inner-emptyDiv-two {
  margin-left: auto;
  padding-left: 16px;
}

main .next-prev-wrapper .nextPage {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

main .next-prev-wrapper .previous-page {
  display: flex;
  align-items: center;
}