.profile-card {
    max-width: calc(calc(12* var(--spectrum-global-dimension-static-grid-fixed-max-width) / var(--spectrum-global-dimension-static-grid-columns)));
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    margin: 0px 50px;
}

.profile-card>div {
    background: #f1f3f4;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.profile-card>div>div:first-child {
    position: absolute;
    top: -30px;
}

.profile-card>div>div:first-child>picture>img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.profile-card>div>div:last-child {
    padding: 100px 24px 24px;
    text-decoration: none !important;
    text-align: center;
}

.profile-card>div>div:last-child>h2 {
    font-size: 21px;
}

.profile-card>div>div:last-child>p {
    font-size: 15px;
    margin-top: 12px;
    max-width: 300px;
    height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile-card>div>div:last-child>h2,
.profile-card>div>div:last-child>p {
    text-align: center;
    color: black;
}

.button-container {
    margin-top: 56px !important;
    padding-bottom: 0px !important;
    height: auto;
}

.all-button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media screen and (max-width : 1024px) {
    .profile-card {
        grid-template-columns: repeat(2, 1fr);
    }

    .profile-card>div>div:last-child>p {
        max-width: 260px;
    }
}

@media screen and (max-width : 768px) {
    .profile-card {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width : 425px) {
    .profile-card {
        margin: 0px 25px;
    }
}