header.main-header {
  grid-area: header;
  position: fixed;
  height: var(--spectrum-global-dimension-size-800);
  left: 0;
  right: 0;
  background-color: var(--spectrum-global-color-gray-50);
  z-index: 2;
}

header nav.header-nav {
  height: 100%;
}

header div.header-link-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

@media screen and (max-width: 1280px) {
  header div.header-link-container {
    justify-content: flex-end;
    margin-left: var(--spectrum-global-dimension-size-1600);
    width: calc(100vw - var(--spectrum-global-dimension-size-1600));
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  header div.link-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

header div.header-link-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

header span.header-label {
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin: auto;
}

header a.header-main-link {
  display: flex;
  position: absolute;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 1;
  outline: none;
  width: var(--spectrum-global-dimension-size-1600);
}

header a.header-main-link:hover, a.header-main-link:focus {
  text-decoration: underline;
}

header ul.header-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 1280px) {
  header ul.header-list {
    width: 100%;
  }
}

header li.header-list-item {
  display: flex;
  align-items: center;
}

header li.header-list-item:hover {
  background-color: hsla(0, 0%, 89%, .8);
  cursor: pointer;
}

header li.header-list-item a.header-list-item-link {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  text-decoration: none;
}

header li.header-list-item-button {
  padding: 0 20px;
}

header.global-nav-header a.nav-console-adobeio-link {
  text-decoration: none;
}

header.global-nav-header img.icon {
  height: 18px;
  width: 22px;
  margin-right: 8px;
}

header.global-nav-header p {
  color: var(--spectrum-global-color-gray-700);
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 15px;
}

header.global-header div:last-child {
  margin-left: auto;
  display: flex;
  align-items: center;
}


header.global-header ul {
  display: flex;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

header.global-header ul li {
  display: flex;
  align-items: center;
  padding: 16px 48px 16px;
  border-left: 1px solid #eaeaea;

}

header.global-header ul li:last-child {
  border-right: 1px solid #eaeaea;
}

header.global-header ul li a {
  font-size: 14px;
  font-weight: 400;
  color: #505050;
  text-decoration: none;
}

header.global-header {
  position: sticky;
  top: 0;
  display: flex;
  height: 64px;
  padding-left: 32px;
  padding-right: 32px;
  border-bottom: 1px solid #eaeaea;
  color: #505050;
  text-decoration: none;
  background-color: #fff;
  z-index: 10;
}

header.global-nav-header {
  position: sticky;
  top: 0;
  display: flex;
  border-bottom: 1px solid #eaeaea;
  text-decoration: none;
  background-color: #fff;
  z-index: 1001;
  padding-left: var(--spectrum-global-dimension-size-100);
  padding-right: var(--spectrum-global-dimension-size-400);
}

header.global-nav-header img.icon {
  height: 18px;
  width: 22px;
  margin-right: 8px;
}

header.global-nav-header p {
  color: var(--spectrum-global-color-gray-700);
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
}

header.global-nav-header a.nav-console-adobeio-link-text {
  margin-bottom: 6px;
}

header.global-nav-header a.nav-console-adobeio-link-text {
  text-decoration: none;
}

header.global-nav-header strong.icon-adobe-label {
  color: #fa0f00;
  font-size: 15px;
  white-space: nowrap;
}

header.global-nav-header div.nav-view-docs-button {
  display: flex;
  margin-left: 16px;
  align-items: center;
  white-space: nowrap;
}

header.global-nav-header > ul#navigation-links > li > button.is-open .spectrum-Picker-menuIcon {
  transition: transform var(--spectrum-global-animation-duration-100) ease-in-out;
  transform: rotate(-90deg);
}

@media screen and (min-width: 769px) {
  header .nav-dropdown-mobile-popover {
    display:none;
  }
  header.global-nav-header div.nav-link-active {
    height: 2px;
    position: absolute;
    background-color: var(--spectrum-global-color-gray-900);
  }

  header.global-nav-header > ul#navigation-links {
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 24px;
    display: flex;
    white-space: nowrap;
  }

  header.global-nav-header > ul#navigation-links::-webkit-scrollbar  {
    display: none;
  }

  header.global-nav-header > ul#navigation-links > li.navigation-products {
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    padding: 0;
    margin-right: 16px;
  }

  header.global-nav-header > ul#navigation-links > li.navigation-products a {
    align-items: center;
    text-decoration: none;
    height: 100%;
  }

  header.global-nav-header > ul#navigation-links > li.navigation-home {
    padding: 0;
  }

  header.global-nav-header > ul#navigation-links > li.home a {
    align-items: center;
    text-decoration: none;
    height: 100%;
  }

  header.global-nav-header > ul#navigation-links > li > a {
    line-height: 64px;
    display: block;
    padding: 0 12px;
    text-decoration: none;
    color: var(--spectrum-global-color-gray-700);
  }

  header.global-nav-header > ul#navigation-links > li > button {
    height: 64px;
    padding: 0 12px;
    color: var(--spectrum-global-color-gray-700);
  }

  header.global-nav-header > ul#navigation-links > li > a:hover,
  header.global-nav-header > ul#navigation-links > li > button:hover {
    background-color: var(--spectrum-global-color-gray-75);
    color: var(--spectrum-global-color-gray-900);
  }

  header.global-nav-header > ul#navigation-links > li.navigation-products a {
    display: block;
    padding: 0 24px;
    height: 100%;
  }

  header.global-nav-header > ul > li.item-select {
    border-bottom: 1px solid #eaeaea;
    border-bottom-width: thick;
  }

  header.global-nav-header > ul > li a:hover {
    background-color: var(--spectrum-global-color-gray-75);
    color: var(--spectrum-global-color-gray-900);
  }

  header.global-nav-header div.nav-dropdown-popover {
    margin-top: -6px;
    margin-left: -1px;
  }

  header .nav-mobile-distribute-button {
    display:none;
  }

  header .nav-mobile-console-button {
    display: none;
  }
}

header.global-nav-header > ul > li:first-of-type {
  padding: 0;
}

header.global-nav-header > ul#navigation-links > li {
  align-items: center;
}

header.global-nav-header a.nav-dropdown-links {
  text-decoration: none;
  color: var(--spectrum-global-color-gray-700);
}

header.global-nav-header a.nav-dropdown-links:visited {
  color: var(--spectrum-global-color-gray-700);
}

header.global-nav-header div.nav-console-right-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

header.global-nav-header div.nav-console-search-button {
  margin-right: 24px;

}

header.global-nav-header button.nav-dropdown-search {
  border: none;
  background-color: #fff;
  color: var(--spectrum-actionbutton-m-quiet-text-color,var(--spectrum-alias-text-color));
}

header.global-nav-header button.nav-dropdown-search:hover {
  cursor: pointer;
  color: var(--spectrum-actionbutton-m-quiet-text-color-hover,var(--spectrum-alias-text-color-hover));
}

header.global-nav-header div.nav-console-button {
  margin-right: 16px;
}

header.global-nav-header div.nav-console-distribute-button {
  margin-right: 16px;
}

header.global-nav-header div.nav-sign-in {
  margin-right: 24px;
}

header.global-nav-header div.nav-profile {
  margin-right: 24px;
}

header.global-nav-header div#nav-profile-dropdown-popover {
  width: var(--spectrum-global-dimension-size-3400);
  max-height: var(--spectrum-global-dimension-size-4600);
  right: 0;
  top: calc(64px - var(--spectrum-overlay-animation-distance) + 1px);
  z-index: 100;
}

header.global-nav-header div.nav-profile-popover-innerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header.global-nav-header div.nav-profile-popover-avatar-button > img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

header.global-nav-header div.nav-profile-popover-avatar {
  width: 75px;
  height: 75px;
  border-radius: var(--spectrum-global-dimension-static-percent-50);
  background: var(--spectrum-global-color-gray-50);
  overflow: hidden;
  margin-top: var(--spectrum-global-dimension-size-200);
  margin-bottom: var(--spectrum-global-dimension-size-300);
}

header.global-nav-header div.nav-profile-popover-avatar > img{
  width: 75px;
  height: 75px;
}

header.global-nav-header div.nav-profile-popover-name {
  padding: 0 var(--spectrum-global-dimension-size-200);
  text-align: center;
  color: var(--spectrum-global-color-gray-800);
  margin-bottom: var(--spectrum-global-dimension-size-300);
}

header.global-nav-header div.nav-profile-popover-divider {
  margin-bottom: var(--spectrum-global-dimension-size-250);
  padding: 0 var(--spectrum-global-dimension-size-250);
  box-sizing: border-box;
  width: 100%;
  color: var(--spectrum-global-color-gray-300);
}

header.global-nav-header a.nav-profile-popover-edit {
  margin-bottom: var(--spectrum-global-dimension-size-250);
}

header.global-nav-header a.nav-profile-popover-sign-out {
  padding: 0 var(--spectrum-global-dimension-size-300);
  margin-bottom: var(--spectrum-global-dimension-size-300);
}

header iframe {
  border-width: 0;
  border-style: none;

}

header div.nav-console-search-frame {
  position: fixed;
  top: var(--spectrum-global-dimension-size-800);
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: transparent;
  z-index: 10;
  visibility: hidden;
}

header div.nav-console-search-frame iframe {
  width: 100%;
  height: 100%;
}
header .menu-icon .navicon{
  display: none;
}

header .menu-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  main {
    overflow-y: hidden;
  }

  header .nav-console-distribute-button{
    display: none;
  }

  header .nav-console-button{
    display:none;
  }

  header .nav-dropdown-popover{
    display:none;
  }

  header.global-nav-header{
    z-index:1001;
  }

  header .nav-console-right-container{
    position: fixed;
    right: 0px;
    top: 20px;
  }

  header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 36px 20px;
    position: relative;
    user-select: none;
  }

  header .menu-btn:checked ~ .menu {
    max-height: 100vh;
  }

  header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  header ul {
    position: absolute;
    top: var(--spectrum-global-dimension-size-800);
    left: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #FAFAFA;
    width: 95%;
    height: 100vh;
  }

  header li a {
    display: block;
    font-size: 15px;
    padding: 15px 15px;
    text-decoration: none;
    color: #505050;
  }

  header li {
    font-size: 15px;
    border-bottom: solid 1px #f3f3f3;
  }

  header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  header .menu-icon .navicon:before,
  header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  header .menu-icon .navicon:before {
    top: 5px;
  }

  header .menu-icon .navicon:after {
    top: -5px;
  }

  header .menu .navigation-dropdown {
    width: 95%;
    height: 100%;
    padding: 15px 15px;
    box-shadow: none !important;
  }

  header .menu .navigation-dropdown .nav-label{
    font-size: 15px;
  }

  header .menu .nav-dropdown-mobile-popover{
    width: 100%;
    height: 100%;
    transform: none;
    border:none;
    box-shadow: none;
    display:none;
    transition: max-height .2s ease-out;
  }

  header .menu .nav-dropdown-mobile-popover.is-open {
    display: block;
    width: 100%;
    max-height: 100%;
  }

  header .menu .nav-dropdown-mobile-popover.is-open > ul {
    position: initial;
    display: block;
    height: 100%;
    border-left: solid 1px;
    border-top: solid 1px #f3f3f3;
    border-bottom: solid 1px #f3f3f3;
    padding-top: 5px;
  }

  header .menu .nav-dropdown-mobile-popover .nav-sub-menu{
    transform: none !important;
    position: absolute;
    top: var(--spectrum-global-dimension-size-800);
    left: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #FAFAFA;
    width: 100%;
  }

  header .menu .nav-dropdown-mobile-popover .nav-sub-menu > li{
    display: block;
    border-bottom:0;
    padding-left: 15px;
    padding-top:0;
    padding-bottom: 0;
  }
  header .menu .nav-dropdown-mobile-popover .nav-sub-menu > li a{
    padding-top:5px;
    padding-bottom: 5px;
  }

  header.global-nav-header div.nav-console-search-button {
    margin-right: 5px;
    padding-top: 5px;
  }

  header .button-container {
    display: flex;
  }

  header .nav-mobile-distribute-button {
    flex: 1;
    margin: 10px;
  }
  header .nav-mobile-console-button {
    flex: 1;
    margin: 10px;
  }

  .site-hero picture {
    height: 100%;
  }

  .site-hero img{
    height:100%;
  }

  .footer {
    overflow-x: hidden;
  }
}
