/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 @import url('./spectrum/spectrum.min.css');

html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spectrum {
  --spectrum-global-font-family-serif: adobe-clean-serif, adobe-clean-serif-fallback;
  --spectrum-card-border-size: 1px;
  --spectrum-card-border-radius: 4px;
  --spectrum-card-min-width: 240px;
  --spectrum-card-body-padding-left: 24px;
  --spectrum-card-body-padding-right: 24px;
  --spectrum-card-body-padding-bottom: 20px;
  --spectrum-card-body-padding-top: 20px;
  --spectrum-card-subtitle-padding-right: 8px;
  --spectrum-card-body-content-min-height: 14px;
  --spectrum-card-body-content-margin-top: 6px;
  --spectrum-global-dimension-size-225: 22px;
}

.spectrum--medium {
  --spectrum-card-footer-border-top-size: 1px;
  --spectrum-card-footer-padding-top: 14px;
}

.spectrum--light {
  --spectrum-global-color-gray-75: rgb(250, 250, 250);
  --spectrum-global-color-gray-700: rgb(110, 110, 110);
  --spectrum-global-color-gray-800: rgb(75, 75, 75); 
  --spectrum-global-color-gray-900:rgb(44, 44, 44);
}

/* fallback font for adobe-clean-serif (900) */
@font-face {
  font-family: "adobe-clean-serif-fallback";
  size-adjust: 109.64%;
  src: local("Times New Roman");
}

img {
  width: auto;
  height: auto;
}

.title-header {
  text-align: center;
  padding-bottom: 16px;
  padding-top: 60px;
}

.title-body {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 60px;
}

#onetrust-consent-sdk, #ot-cookie-settings {
  font-family: "adobe-clean",sans-serif;
}

main .section {
  padding: var(--spectrum-global-dimension-size-400) 0;
}

main .section .section-title{
  margin: 0;
  text-align: center;
}
/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

body > header {
  height: 81px;
}

body.sidekick-library #onetrust-consent-sdk { display: none }

main .inline-code {
  font-family: Courier, monospace;
  font-size: 0.98rem;
  background-color: var(--spectrum-global-color-gray-100);
  padding: 0 var(--spectrum-global-dimension-static-size-25);
  margin: 0;
  display: inline-block;
  min-width: auto;
  border: 0.8px solid var(--spectrum-global-color-gray-300);
  border-radius: 3px;
}