/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 @import url('./spectrum/spectrum.min.css');
 @import url('./prism.css');

html, body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spectrum {
  --spectrum-global-font-family-serif: adobe-clean-serif, adobe-clean-serif-fallback;
  --spectrum-card-border-size: 1px;
  --spectrum-card-border-radius: 4px;
  --spectrum-card-min-width: 240px;
  --spectrum-card-body-padding-left: 24px;
  --spectrum-card-body-padding-right: 24px;
  --spectrum-card-body-padding-bottom: 20px;
  --spectrum-card-body-padding-top: 20px;
  --spectrum-card-subtitle-padding-right: 8px;
  --spectrum-card-body-content-min-height: 14px;
  --spectrum-card-body-content-margin-top: 6px;
  --spectrum-global-dimension-size-225: 22px;
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  font-size: 14px;
}

.spectrum,
.spectrum-Body {
  color: rgb(75, 75, 75);
}

.spectrum--medium {
  --spectrum-card-footer-border-top-size: 1px;
  --spectrum-card-footer-padding-top: 14px;
}

.spectrum--light {
  --spectrum-global-color-gray-75: rgb(250, 250, 250);
  --spectrum-global-color-gray-700: rgb(110, 110, 110);
  --spectrum-global-color-gray-800: rgb(75, 75, 75); 
  --spectrum-global-color-gray-900:rgb(44, 44, 44);
}

/* fallback font for adobe-clean-serif (900) */
@font-face {
  font-family: "adobe-clean-serif-fallback";
  size-adjust: 109.64%;
  src: local("Times New Roman");
}

img {
  width: auto;
  height: auto;
}

.title-header {
  text-align: center;
  padding-bottom: 16px;
  padding-top: 60px;
}

.title-body {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 60px;
}

#onetrust-consent-sdk, #ot-cookie-settings {
  font-family: "adobe-clean",sans-serif;
}

main .section {
  padding: var(--spectrum-global-dimension-size-400) 0;
}

main .section .section-title{
  margin: 0;
  text-align: center;
}
/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

body > header {
  height: 81px;
}

body.sidekick-library #onetrust-consent-sdk { display: none }

main .inline-code {
  font-family: Courier, monospace;
  font-size: 0.98rem;
  background-color: var(--spectrum-global-color-gray-100);
  padding: 0 var(--spectrum-global-dimension-static-size-25);
  margin: 0;
  display: inline-block;
  min-width: auto;
  border: 0.8px solid var(--spectrum-global-color-gray-300);
  border-radius: 3px;
}

/* animate anchor */
main .heading2 h2, 
main .heading3 h3,
main .heading4 h4,
main .heading5 h5,
main .heading6 h6,
main .heading6 h6 {
  & span a {
    opacity: 0;
    transition: opacity var(--spectrum-global-animation-duration-100) ease-in-out;

    &:focus {
      opacity: 1;
    }
  }

  &:hover span a {
    opacity: 1;
  }
}

main .heading4 h4,
main .heading5 h5,
main .heading6 h6 {
  margin-top: var(--spectrum-global-dimension-size-400);

  & + ul,
  & + ol {
    margin-top: var(--spectrum-global-dimension-size-200);
  }
}

.spectrum-Heading--sizeXXL {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.3;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Heading--sizeXL {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Heading--sizeL {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Heading--sizeM {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Heading--sizeS {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Heading--sizeXS {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Heading--sizeXXS {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Heading {
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
  font-weight: 700;
}

.spectrum-Heading em,
.spectrum-Heading .spectrum-Heading-emphasized {
  font-style: italic;
}

.spectrum-Heading strong,
.spectrum-Heading .spectrum-Heading-strong {
  font-weight: 700;
}

.spectrum-Heading--serif {
  font-family: adobe-clean-serif, adobe-clean-serif-fallback;
}

.spectrum-Heading--heavy {
  font-weight: 900;
}

.spectrum-Heading--heavy em,
.spectrum-Heading--heavy .spectrum-Heading-emphasized {
  font-style: italic;
}

.spectrum-Heading--heavy strong,
.spectrum-Heading--heavy .spectrum-Heading-strong {
  font-weight: 900;
}

.spectrum-Heading--light {
  font-weight: 300;
}

.spectrum-Heading--light em,
.spectrum-Heading--light .spectrum-Heading-emphasized {
  font-style: italic;
}

.spectrum-Heading--light strong,
.spectrum-Heading--light .spectrum-Heading-strong {
  font-weight: 300;
}

.spectrum-Body--sizeXXXL {
  font-size: 25px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Body--sizeXXL {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Body--sizeXL {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Body--sizeL {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Body--sizeM {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Body--sizeS {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Body--sizeXS {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Body {
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif;
}

.spectrum-Body strong,
.spectrum-Body .spectrum-Body-strong {
  font-weight: 700;
}

.spectrum-Body em,
.spectrum-Body .spectrum-Body-emphasized {
  font-style: italic;
}

.spectrum-Body--serif {
  font-family: adobe-clean-serif, adobe-clean-serif-fallback;
}

.spectrum-Typography .spectrum-Heading--sizeXXXL {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Heading--sizeXXL {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Heading--sizeXL {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Heading--sizeL {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Heading--sizeM {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Heading--sizeS {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Heading--sizeXS {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Heading--sizeXXS {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Body--sizeXXXL {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Body--sizeXXL {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Body--sizeXL {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Body--sizeL {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Body--sizeM {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Body--sizeS {
  margin-top: 0;
  margin-bottom: 0;
}

.spectrum-Typography .spectrum-Body--sizeXS {
  margin-top: 0;
  margin-bottom: 0;
}


.spectrum-Heading--sizeXXXL {
  color: rgb(44, 44, 44);
}

.spectrum-Heading--sizeXXL {
  color: rgb(44, 44, 44);
}

.spectrum-Heading--sizeXL {
  color: rgb(44, 44, 44);
}

.spectrum-Heading--sizeL {
  color: rgb(44, 44, 44);
}

.spectrum-Heading--sizeM {
  color: rgb(44, 44, 44);
}

.spectrum-Heading--sizeS {
  color: rgb(44, 44, 44);
}

.spectrum-Heading--sizeXS {
  color: rgb(44, 44, 44);
}

.spectrum-Heading--sizeXXS {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeXXXL--light {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeXXL--light {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeXL--light {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeL--light {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeXXXL--heavy {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeXXL--heavy {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeXL--heavy {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeL--heavy {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeXXXL--heading {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeXXL--heading {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeXL--heading {
  color: rgb(44, 44, 44);
}

.spectrum-Heading-sizeL--heading {
  color: rgb(44, 44, 44);
}

.spectrum-Body--sizeXXXL {
  color: rgb(75, 75, 75);
}

.spectrum-Body--sizeXXL {
  color: rgb(75, 75, 75);
}

.spectrum-Body--sizeXL {
  color: rgb(75, 75, 75);
}

.spectrum-Body--sizeL {
  color: rgb(75, 75, 75);
}

.spectrum-Body--sizeM {
  color: rgb(75, 75, 75);
}

.spectrum-Body--sizeS {
  color: rgb(75, 75, 75);
}

.spectrum-Body--sizeXS {
  color: rgb(75, 75, 75);
}

.spectrum-Detail--sizeXL {
  color: rgb(75, 75, 75);
}

.spectrum-Detail--sizeL {
  color: rgb(75, 75, 75);
}

.spectrum-Detail--sizeM {
  color: rgb(75, 75, 75);
}

.spectrum-Detail--sizeS {
  color: rgb(75, 75, 75);
}

.spectrum-Code--sizeXL {
  color: rgb(75, 75, 75);
}


.spectrum-Button {
  box-sizing: border-box;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-transform: none;
  cursor: pointer;
  text-decoration: none;
  border: 3px solid;
  border-radius: 20px;
}

.spectrum-Button--sizeM {
  font-size: 14px;
  font-weight: 700;
}

.spectrum-Button.spectrum-Button--fill:disabled,
.spectrum-Button.spectrum-Button--fill:not(:disabled) {
  border-color: transparent;
}

.spectrum-Button.spectrum-Button--fill.spectrum-Button--accent:not(.spectrum-Button--staticWhite):not(.spectrum-Button--staticBlack):not(:disabled) {
  background-color: rgb(4, 105, 227);
}

.spectrum-Button.spectrum-Button--outline.spectrum-Button--secondary:not(.spectrum-Button--staticWhite):not(.spectrum-Button--staticBlack):not(:disabled) {
  background-color: transparent;
  border-color: rgb(213,213,213);
}