main .heading2 h2 {
  margin-top: 40px;
}

main div.heading2-wrapper {
  width: 100%;
}
main div.heading2 > div {
  max-width: 1280px;
  margin: 0 auto;
}
main div.heading2 > div > div{
  width:   calc(12*1280px/12 - 2*1280px/12px - 32px);
}
main div.heading2 hr {
  border-width: 1px;
  border-radius: 1px;
  height: 1px;
  background-color: rgb(213, 213, 213);
}