main div.cards {
    width: var(--spectrum-global-dimension-static-grid-fluid-width);
    background: var(--spectrum-global-color-gray-100);
    display: flex;
    justify-content: center;
    flex-direction: row;
}

@media screen and (max-width: 320px) {
    main div.cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    main div.cards {
        flex-wrap: wrap;
    }
    main div.cards>* {
        flex: 0 0 50%;
    }
}

main div.cards > div {
    text-align: center;
    display: table-cell;
    padding: var(--spectrum-global-dimension-size-1000) 0;
} 

main div.cards > div.three-cards {
    width: 33.33vw;
}

main div.cards > div.four-cards {
    width: 25vw;
}

main div.cards-container.background-color-white {
    background-color: white;
}

main div.cards-container .cards-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

main div.cards-container.background-color-white div.cards {
    background-color: white;
}

@media screen and (max-width: 320px) {
    main div.cards > div {
        display: block;
        width: 100%;
    }
  }

main div.cards > div > div {
    max-width: var(--spectrum-global-dimension-size-4600);
    padding: 0 var(--spectrum-global-dimension-size-400);
    margin: auto;
}

main div.cards > div img {
    height: var(--spectrum-global-dimension-size-1000);
    margin-top: 0;
    margin-bottom: var(--spectrum-global-dimension-size-300);
} 

main div.cards > div h3 {
    margin-bottom: var(--spectrum-global-dimension-size-200)!important;
} 

main div.cards > div p {
    margin-top: 0;
    margin-bottom: 0!important;
} 

main div.cards a.card-button {
    --gap: var(--spectrum-global-dimension-size-200);
    margin-top: var(--spectrum-global-dimension-size-150);
    margin-bottom: var(--spectrum-global-dimension-size-150);
}
