main div.cards-container:has(.cards.background-color-white) {
  background-color: white;
}

main div.cards.background-color-white {
  background-color: white !important;
}

main div.cards {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media screen and (max-width: 320px) {
  main div.cards {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  main div.cards {
    flex-wrap: wrap;
  }
  main div.cards > * {
    flex: 0 0 50%;
  }
}

main div.cards > div {
  text-align: center;
  display: table-cell;
  padding: 80px 0;
}

main div.cards > div.three-cards {
  width: 33.33vw;
}

main div.cards > div.four-cards {
  width: 25vw;
}

/* main div.cards-container.background-color-white {
  background-color: white !important;
} */

main div.cards-container .cards-wrapper {
  background: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  main div.cards > div {
    display: block;
    width: 100%;
  }
}

main div.cards > div > div {
  max-width: 368px;
  padding: 0 32px;
  margin: auto;
}

main div.cards > div img {
  height: 80px;
  margin-top: 0;
  margin-bottom: 24px;
}

main div.cards > div h3 {
  margin-bottom: 16px !important;
}

main div.cards > div p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

main div.cards a.card-button {
  --gap: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

@media screen and (max-width: 1024px) {
  main div.cards {
    flex-direction: column;
  }
  main div.cards > div {
    padding: 40px 0;
  }
}

@media screen and (max-width: 425px) {
  main .cards-container {
    padding: 40px 0px 0px 0px;
  }
}