.spectrum-InLineAlert-content {
    padding-right: 30px !important;
}

.spectrum-InLineAlert {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 368px;
    min-height: 38px;
    margin: 8px 0;
    padding: 20px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    color: rgb(110, 110, 110);
}

[dir="ltr"] .spectrum-InLineAlert-icon {
    right: 20px;
}

[dir="rtl"] .spectrum-InLineAlert-icon {
    left: 20px;
}

.spectrum-InLineAlert-icon {
    position: absolute;
    display: block;
    top: 20px;
}

[dir="ltr"] .spectrum-InLineAlert-header {
    padding-right: 30px;
}

[dir="rtl"] .spectrum-InLineAlert-header {
    padding-left: 30px;
}

.spectrum-InLineAlert-header {
    display: inline-block;
    height: auto;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: 14px;
    text-transform: none;
    color: rgb(44, 44, 44);
}

.spectrum-InLineAlert-content {
    display: block;
    margin: 8px 0 0 0;
    padding: 0;
    font-size: 14px;
    word-wrap: break-word;
    color: rgb(110, 110, 110);
}

[dir="ltr"] .spectrum-InLineAlert-footer {
    text-align: right;
}

[dir="rtl"] .spectrum-InLineAlert-footer {
    text-align: left;
}

.spectrum-InLineAlert-footer {
    display: block;
    padding-top: 0.5rem;
}

.spectrum-InLineAlert-footer:empty {
    display: none;
}

[dir="ltr"] .spectrum-InLineAlert-footer .spectrum-Button {
    margin-left: 0.75rem;
}

[dir="rtl"] .spectrum-InLineAlert-footer .spectrum-Button {
    margin-right: 0.75rem;
}

.spectrum-InLineAlert--info {
    border-color: rgb(20, 122, 243);
}

.spectrum-InLineAlert--info .spectrum-InLineAlert-icon {
    color: rgb(0, 84, 182);
}

.spectrum-InLineAlert--help {
    border-color: rgb(20, 122, 243);
}

.spectrum-InLineAlert--help .spectrum-InLineAlert-icon {
    color: rgb(0, 84, 182);
}

.spectrum-InLineAlert--error {
    border-color: rgb(234, 56, 41);
}

.spectrum-InLineAlert--error .spectrum-InLineAlert-icon {
    color: rgb(180, 0, 0);
}

.spectrum-InLineAlert--success {
    border-color: rgb(0, 143, 93);
}

.spectrum-InLineAlert--success .spectrum-InLineAlert-icon {
    color: rgb(0, 101, 62);
}

.spectrum-InLineAlert--negative {
    border-color: rgb(246, 133, 17);
}

.spectrum-InLineAlert--negative .spectrum-InLineAlert-icon {
    color: rgb(203, 93, 0);
}
