main div.announcement-container:has(.announcement.background-color-white) {
  background-color: white;
}

main div.announcement-container {
  width: 100%;
  background: rgb(245, 245, 245);
  box-sizing: border-box;
  text-align: center;
  padding: 32px;
}

main div.section.video-enabled.announcement-container{
  height: calc(160px + 10px);  
}

@media screen and (max-width: 1280px) {
  main div.announcement-container {
    height: auto;
  }
}


main .section.video-enabled + .columns-container > .columns-wrapper > div.columns.block > div > div:first-of-type + div {
  display:flex;
  margin-top: 100px;
}

main div.announcement-container > div {
  width: 100%;
}

main div.announcement .announce-heading {
  margin-top: 0 !important;
  margin-bottom: 8px !important;
}

main div.announcement.block {
  margin: auto;
  max-width: 900px;
}

main div.announcement p {
  margin-top: 0;
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (max-width: 768px) {
  main div.announcement p {
    margin-left: 0%;
    margin-right: 0%;
  }
}

main div.announcement p.announce-link {
  margin-top: 16px;
}

main div.announcement p:last-child {
  margin-bottom: 0;
}

main div.announcement-container > div {
  width: 100%;
}