main div.api-browser-container:has(.api-browser.background-color-white) {
  background-color: white !important;
}

main .api-browser-container {
  background-color: #fff;
  padding-top: 32px;
  padding-bottom: 32px;
}

main .picker {
  display: flex;
  align-items: right;
  height: 64px;
  justify-content: flex-end;
  margin-right: 32px;
}

main .picker .sort-group {
  display: flex;
}

main .picker .sort-by-label {
  margin: 8px;
}

main .picker .filter-by-popover {
  display: flex;
  min-width: 64px;
  width: auto;
  z-index: 100;
  max-height: calc(100vh - 192px);
  overflow: auto;
  margin-top: 32px;
  margin-left: 40px;
}

main .api-browser {
  max-width: 1280px;
  margin: 32px auto;
  margin-bottom: 0;
}

main .api-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, calc(368px - 64px));
  grid-auto-rows: calc(368px - 40px);
  justify-content: center;
  gap: 32px;
  flex: 1;
}

@media screen and (max-width: 320px) {
  main .api-cards {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
  }
}

main .api-card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background: rgb(245, 245, 245);
}

@media screen and (max-width: 320px) {
  main .api-card {
    display: flex;
    width: 100%;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  main .api-card {
    flex-wrap: wrap;
  }
  main .api-card > * {
    flex: 0 0 50%;
  }
}

main .api-cards-inner {
  display: flex;
}

@media screen and (max-width: 320px) {
  main .api-cards-inner {
    flex-direction: column;
    align-items: center;
  }
}

main .api-card-inner {
  margin: 0 24px;
  width: calc(368px - 64px);
  height: calc(368px - 40px);
}

main .api-card-inner:hover {
  border-color: rgb(230, 230, 230);
}

@media screen and (max-width: 320px) {
  main .api-card-inner {
    width: 0;
    margin: 0;
  }
}

main .api-card-body {
  height: calc(368px - 40px);
  overflow: auto;
  text-align: left;
}

main .api-card-icon-container {
  position: absolute;
  height: 64px;
  z-index: 1;
}

main .api-card-icon {
  height: 48px;
  width: 48px;
  margin-top: 0;
}

main .api-card-icon img {
  display: block;
  height: 100%;
  object-fit: contain;
}

main .api-card-icon-container + .api-card-body-inner {
  top: 64px;
}

main .api-card-body-inner {
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

main .api-card-title-container {
  margin-top: 0 !important;
  margin-bottom: 8px !important;
}

main .api-card-title {
  font-size: 16px;
}

main .api-card-title h4 {
  margin-top: 0;
  margin-bottom: 16px;
}

main .api-card-content {
  height: auto;
  margin-bottom: 0 !important;
}

main .api-card-button-container {
  display: flex;
  --gap: 16px;
  flex-wrap: wrap;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(100% + var(--gap));
  justify-content: flex-end;
}

main .api-card-button-container a {
  margin: var(--gap) 0 0 var(--gap);
}

@media screen and (max-width: 320px) {
  main .api-card-button-container {
    justify-content: center;
  }
}

main .api-browser .filters {
  width: 240px;
  align-items: flex-end;
  flex-direction: column;
  display: flex;
}

@media screen and (max-width: 768px) {
  main .api-browser .api-cards-inner {
    display: block;
  }
  main .api-browser .filters {
    padding: 32px;
  }
}

main .api-browser .filters-inner {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}

main .filter-item {
  margin-bottom: 8px;
}

main .filters-list {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

main .filter-label {
  margin-left: 9px;
}
