main div.banner-container {
    background-color: rgb(9, 90, 186);
  }
  
  main div.banner {
    width: 90%;
    max-width: 1280px;
    text-align: left;
    height: 210px;
    margin: 0 auto;
  }
  
  main div.banner h1 {
    line-height: 210px;
    color: rgb(255, 255, 255);
  }
