main div.list-container:has(.list.background-color-white) {
  background-color: white;
}

main div.list-container li {
  margin: 10px 0;
  position: relative;
}

main div.list-container div.list {
  width: auto;
}

main div.list {
  box-sizing: border-box;
  margin: auto;
}

main div.list-container{
  width: 100%;
}
main div.list > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 0;
}

main div.list-container div.list > div {
  align-items: start;
}

main div.list-container div.list > div > div {
  flex-direction: column;
  flex-basis:100%;
  text-align: start;
  padding: 0 32px;
}

main div.list-container > div.list-wrapper >div {
  margin: auto;
  max-width: 1280px;
}

main div.list-container .checkmark {
  list-style-type: none;
}

main div.list-container .checkmark ol {
  list-style: none;
}

main div.list-container .checkmark li {
  position: relative;
  margin-bottom: 8px;
}

main div.list-container .checkmark li:before {
  color: #096;
  content: "\2714\0020";
}

main main div.list-container .list .anchor-link{
  /* padding-left: 10px; */
  visibility: hidden;
}

main main div.list-container .list:hover .anchor-link{
  /* padding-left: 10px; */
  visibility: visible;
}

main main div.list-container div.list h3 {
  margin-top: 0!important;
  margin-bottom: 16px!important;
  scroll-margin-top:100px;
  text-align: center;
}

main main div.list-container div.list h3 + p {
  text-align: center;
  margin-top: 0!important;
}

@media screen and (min-width : 768px) and (max-width : 1440px) {
  main div.list-container>div.list-wrapper>div {
    width: fit-content !important;
  }
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  main div.list-container>div.list-wrapper>div>div {
    display: block !important;
  }

  main div.list-container>div.list-wrapper>div {
    width: fit-content !important;
  }
}

@media screen and (min-width : 320px) and (max-width : 1024px) {
  main div.list-container {
    padding: 40px 20px !important;
  }
}
