main .teaser-button-container {
  display: flex;
  gap: 20px;
}

main .teaser-container {
  padding: 3% 0;
}

main .teaser-wrapper > .block > div > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 95%;
  align-items: center;
}

main .teaser-wrapper > .block > div {
  display: flex;
  margin-left: 5%;
}

main .teaser-wrapper .teaser.start > div {
  justify-content: start;
  margin-left: 5%;
}
main .teaser-wrapper .teaser.start > div > div {
  align-items: normal;
}
main .teaser-wrapper .teaser > div{
  justify-content: center;
  margin: 0;
}

main .teaser-wrapper .teaser.end > div {
  justify-content: end;
  margin-right: 5%;
}
main .teaser-wrapper .teaser.end > div > div {
  width: 750px;
}

@media screen and (max-width: 1024px) {
  main .teaser-wrapper > .block > div {
    margin: 0 !important;
    justify-content: center !important;
  }

  main .teaser-container .teaser > div > div {
    text-align: center;
    align-items: center !important;
  }
}

@media screen and (max-width: 425px) {
  main .teaser-container .teaser-button-container {
    flex-direction: column;
  }

  main .teaser-container .teaser {
    margin: 5%;
    text-align: center;
  }
  main .teaser-container {
    padding: 4% 0;
  }
}
