
main .teaser-button-container {
  display: flex;
  gap: 20px;
}

main .teaser-wrapper > .block > div > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: fit-content;
}

main .teaser-wrapper > .block > div {
  display: flex;
  margin-left: 5%;
} 

@media screen and (max-width: 1024px) {
  main .teaser-wrapper > .block > div {
    margin: 0;
  }

  main .teaser-container .teaser > div > div {
    text-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 425px) {
  main .teaser-container .teaser-button-container {
    flex-direction: column;
  }

  main .teaser-container .teaser {
    margin: 5%;
    text-align: center;
  }
}