.edition > div > div {
  display: flex;
  column-gap: 3px;
  border-radius: 4px;
  padding: 5px 8px;
  width: fit-content;
  margin-bottom: 10px;
  background-color: rgb(187 2 2);
  color: white;
  font-size: 12px;
}
p {
  margin: 0 !important;
}
a {
  color: white;
}
.edition > div > div:hover {
  filter: brightness(75%);
}
.edition > div > div:first-child {
  cursor: default;
}
