main div.hero {
  background: rgb(255, 255, 255);
  height: 500px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

main div.hero-container {
  padding: 0;
}

main div.hero > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(5 * 100% / 12);

  margin-left: 40px;
  margin-right: 32px;
}

main div.hero div:nth-child(2) {
  flex: 1;
}

main div.hero div:nth-child(2) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 0;
}

main div.hero div:nth-child(2) > div img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 0;
  min-height: 500px !important;
}

main .hero .icon-container {
  height: 48px;
  width: 48px;
  margin-top: 0 !important;
  margin-bottom: 24px !important;
}

main .hero span.icon {
  display: none;
}

main .hero .icon {
  height: 100%;
  object-fit: contain;
}

main .hero h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

main .hero p.spectrum-Body--sizeL {
  margin-top: 0 !important;
  color: rgb(80, 80, 80) !important;
}

main .hero h1 + p.last-of-type {
  margin-bottom: 0 !important;
}

main .hero .hero-button-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  gap: 16px;
  margin-bottom: 10px;
}

main .hero h3 {
  margin-top: 0;
  margin-bottom: 16px;
}

main .hero h1 + p.last-of-type {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  main div.hero {
    max-width: calc(100% - 64px) ;
    padding: 32px;
    overflow: hidden;
  }

  main div.hero > div:first-child {
    margin-left: 64px;
    margin-right: 32px;
    width: 100%;
    margin: 0;
  }
  
  main div.hero div:nth-child(2) {
    display: none;
  }
  main div.hero .spectrum-Heading--sizeXXL {
    font-size: 36px;
  }

  main .hero picture {
    display: none;
  }

  main div.hero div:nth-child(2) > div div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 0;
  }

  main div.hero div:nth-child(2) > div img {
    width: 100% !important;
    min-width: 320px !important;
  }
}

@media screen and (max-width: 425px) {
  main div.hero div:nth-child(2) > div img {
    min-height: 0px;  
  }
}