main div.tab-container:has(.tab.background-color-navy) {
    background-color: rgb(15, 55, 95);
}

main .tab-container {
    background-color: rgb(245, 245, 245);
    padding: 3%;
}

main .tab-container .tab {
    display: flex;
    justify-content: center;
}

main .tab-container .vertical .innerTab {
    display: flex;
}

main .tab-container .innerTab {
    width: 75%;
    gap: 50px;
}

main .tab-container .innerTab>div:first-child {
    display: flex;
}

main .tab-container .vertical .innerTab>div:first-child {
    flex-direction: column;
    align-items: center;
}

main .tab-container .innerTab>div:first-child {
    gap: 16px;
}

main .tab-container .innerTab>div:first-child>div {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 54px;
    padding: 4px;
    margin-bottom: 16px;
    border-radius: 10px;
    cursor: pointer;
    width: 260px;
}

main .tab-container .background-hover>div:first-child>div:hover,
main .tab-container .background-hover .activeTab {
    background-color: #2e3c6a;
}

main div.tab.background-color-navy .background-hover>div:first-child>div:hover,
main div.tab.background-color-navy .activeTab {
    background-color: rgb(245, 245, 245) !important;
}

main div.tab.background-color-navy .innerTab>div:first-child>div:hover>p {
    color: rgb(75, 75, 75) !important;
}

main .tab-container .innerTab>div:first-child>div:hover>p {
    color: white !important;
}

main div.tab.background-color-navy .innerTab>div:first-child>div>p {
    color: white;
}

main div.tab.background-color-navy .activeTab>p {
    color: rgb(75, 75, 75) !important;
}

main .tab-container .activeTab>p {
    color: white !important;
}

main .tab-container .innerTab>div:first-child>div>p:first-child>picture {
    display: flex;
}

main .tab-container .innerTab>div:first-child>div>p:first-child>picture>img {
    width: 40px;
    height: 40px;
    margin: 0px 6px;
}

main div.tab.background-color-navy .innerTab>div:not(:first-child) {
    width: 100%;
    display: none;
    color: white;
}

main .tab-container .innerTab>div:not(:first-child) {
    width: 100%;
    display: none;
    color: rgb(75,75,75);
}

main .tab-container .activeTabContent {
    display: block !important;
}

main .tab-container .custom-tab-container {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid transparent;
}

main .tab-container .custom-tab-headers {
    display: flex;
    border-bottom: 2px solid #1d2643 !important;
    justify-content: space-between;
    align-items: center;
}

main .tab-container .custom-tab-header {
    cursor: pointer;
    border-bottom: none;
    display: inline-block;
    font-size: 16px;
    line-height: 48px;
    color: rgb(209, 209, 209);
    margin-left: 24px;
    white-space: nowrap;
}

main .tab-container .custom-tab-header:hover {
    color: white;
}

main .tab-container .custom-tab-header.active-tab {
    color: white;
    border-bottom: 2px solid white;
    font-weight: bold;
}

main .tab-container pre.code-content {
    word-wrap: break-word;
    overflow-x: hidden !important;
    white-space: pre-wrap;
    word-break: break-word !important;
    padding-top: 40px !important;
    margin: 0;
    line-height: 24px;
}

main .tab-container div.code-toolbar>.toolbar {
    top: -45px;
}

main .tab-container div.code-toolbar>.toolbar>.toolbar-item>button {
    padding: 12px;
    height: 32px;
    background: transparent;
    color: white;
    text-align: center;
    right: 24px;
    position: relative;
    border-color: rgb(112, 112, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 2px;
    border-radius: 0;
}

main .tab-container .line-numbers-rows>span {
    height: 24px !important;
}

@media only screen and (max-width: 860px) {
    main .tab-container .innerTab {
        display: block !important;
    }

    main .tab-container div.code-toolbar>.toolbar>.toolbar-item>button {
        padding: 0;
        height: 25px;
        right: 0px;
    }

    main .tab-container .custom-tab-header{
        font-size: 13px;
    }

    main .tab-container .innerTab>div:first-child {
        flex-direction: column;
        align-items: center;
    }
}