main div.embed-container:has(.embed.background-color-white) {
  background-color: white;
}

main div.embed-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgb(245, 245, 245);
}

main div.embed-container > div{
  max-width: 640px;
  padding: 0px 32px;
  margin: auto;
}

@media screen and (min-width: 700px) {
main div.embed-container .igReel {
  left: 0; 
  padding:0; 
  width: 356px !important;
  aspect-ratio: 9 / 13;
  position: relative; 
}
}

main div.embed-container .igReel {
  left: 0; 
  padding:0; 
  width: 432px;
  aspect-ratio: 9 / 13;
  position: relative; 
}

main div.embed-container p {
  margin-top: 0;
  margin-bottom: 0!important;
}

main div.embed {
  /* margin-top: 32px; */
  max-width: 640px;
  display: flex;
  justify-content: center;
}

main div.embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

main div.embed-container .embed-custom-width{
  display: flex;
  align-items: center;
  justify-content: center;
}


.embed .embed-placeholder {
width: 100%;
aspect-ratio: 16 / 9;
position: relative;
}

.embed .embed-placeholder > * {
display: flex;
align-items: center;
justify-content: center;
position: absolute;
inset: 0;
}

.embed .embed-placeholder picture img {
width: 100%;
height: 100%;
/* object-fit: cover; */
max-width: 640px;
}

.embed .embed-placeholder-play button {
box-sizing: border-box;
position: relative;
display: block;
transform: scale(3);
width: 22px;
height: 22px;
border: 2px solid;
border-radius: 20px;
padding: 0;
}

.embed .embed-placeholder-play button::before {
content: "";
display: block;
box-sizing: border-box;
position: absolute;
width: 0;
height: 10px;
border-top: 5px solid transparent;
border-bottom: 5px solid transparent;
border-left: 6px solid;
top: 4px;
left: 7px;
}