main div.info-columns-container {
  width: 100%;
  background: rgb(245, 245, 245);
}

main div.info-columns {
  width: 90%;
  max-width: 1280px;
  box-sizing: border-box;
  margin: auto;
}

@media screen and (max-width: 1280px) {
  main div.info-columns {
    width: 100%;
  }
  main div.info-columns > div {
    flex-direction: column !important;
  }
}

main div.info-columns > div {
  display: flex;
  align-items: start;
}

main div.info-columns > div:nth-child(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1280px) {
  main div.info-columns > div {
    flex-direction: column;
  }
}

main div.info-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  box-sizing: border-box;
  padding: 0 32px;
}

@media screen and (max-width: 1280px) {
  main div.info-columns div.info-column {
    width: 100%;
    margin: 32px 0;
  }
}

main div.info-columns h3.column-header {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

main div.info-columns h3.column-header + p {
  margin-top: 0 !important;
}

main div.info-columns p + p {
  margin-top: 24px;
}

main div.info-columns div.product-link-container p {
  margin-top: 24px;
}

main div.info-columns div.product-link-container p + p {
  margin-left: 24px;
}

main div.info-column div.product-link-container {
  display: flex;
  flex-direction: row;
}

main div.info-column div.product-link-container p.icon-container {
  display: flex;
  align-items: center;
}

main div.info-column div.product-link-container img.icon {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

main div.info-column div.product-link-container a {
  margin-left: 8px;
}
