main div.info {
    width: 90%;
    margin: 0 auto;
    background: var(--spectrum-global-color-gray-100);
    justify-content: center;
    margin-bottom: 64px;
  }
  
  main div.info h2 {
    margin-top: var(--spectrum-global-dimension-size-800);
    scroll-margin-top: 100px;
  }

  main div.info .info-header .anchor-link{
    padding-left: 10px;
    visibility: hidden;
  }

  main div.info .info-header:hover .anchor-link{
    display: inline-block;
    visibility: visible;
  }


main div.info code {
    display: inline-block;
    min-width: auto;
    background-color: var(--spectrum-global-color-gray-100);
    padding: 0 var(--spectrum-global-dimension-size-50);
    margin: 0;
  }
  