main div.site-hero-container {
  background: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  padding: 0 !important;
}

main div.site-hero {
  position: relative;
  width: 100%;
  height: 350px;
}

main .xl div.site-hero {
  position: relative;
  width: 100%;
  height: 624px !important;
}

main div.site-hero .site-hero-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25%;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

main .site-hero img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

main .xl .xl-img {
  width: 100%;
  height: 624px !important;
  object-fit: cover;
}

main .site-hero h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

main .site-hero p.spectrum-Body--sizeL {
  margin-top: 0 !important;
  font-size: 18px;
  color: rgb(34, 34, 34) !important;
}

main .site-hero .hero-button-container {
  display: flex;
  flex-wrap: wrap;
  display: inline-flex;
  margin-top: 18px;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  main div.site-hero .site-hero-content {
    padding: 0 32px;
  }

  main .site-hero img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  main .xl .xl-img {
    width: 100%;
    height: 624px !important;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  main div.site-hero {
    position: relative;
    width: 100%;
    height: 100vh !important;
  }

  main .xl div.site-hero {
    position: relative;
    width: 100%;
    height: 100vh !important;
  }

  main div.site-hero img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 100vh !important;
  }

  main div.site-hero .xl-img {
    overflow-clip-margin: content-box;
    overflow: clip;
    height: 100vh !important;
  }
}
