main div.site-hero-container {
    background: var(--spectrum-global-color-gray-50);
    background-position: center;
    background-size: cover;
    padding: 0 !important;
  }
  
  main div.site-hero {
    position: relative;
    width: 100%;
  }
  @media screen and (max-width:768px) {
    main div.site-hero {
      height: 350px;
    }
    main .site-hero div{
      width: 95%;
    }
  }
  @media screen and (max-width: 1024px) {
    main .xl div.site-hero{
      height: 100vh;
    }
    main div.site-hero .xl-img {
      height: 100vh;
      object-fit: cover;
    }
  }

  main div.site-hero > div:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
    
  main .site-hero h1 {
    margin-top: 0;
    margin-bottom: var(--spectrum-global-dimension-size-200);
  }
  
  main .site-hero p.spectrum-Body--sizeL {
    margin-top: 0 !important;
    font-size: var(--spectrum-global-dimension-size-225);
    color: var(--spectrum-global-color-gray-800) !important;
  }
  
  /* main .site-hero h1 + p.last-of-type {
    margin-bottom: 0 !important;
  } */
  
  main .site-hero .hero-button-container {
    display: flex;
    flex-wrap: wrap;
    display: inline-flex;
  
    margin-top: var(--spectrum-global-dimension-size-225);
    gap: var(--spectrum-global-dimension-size-200, var(--spectrum-alias-size-200));
  }

  @media screen and (min-width:1025px) {
    main div.site-hero .xl-img {
      width: 100%;
      max-height: 624px !important;
      object-fit: cover;
    }
  }
  @media screen and (min-width:769px) {
    main .site-hero img {
      width: 100%;
      max-height: 350px;
      object-fit: cover;
    }
    main .xl .xl-img{
      max-height: none;
    }
  }


