main div.iframe-wrapper {
    width: 100%;
    border: none;
  }

  main iframe.iframe-container {
    width: 100%;
    height: calc(100vh - var(--spectrum-global-dimension-size-800));
    border: none;
  }