main div.summary-container {
  background: rgb(245, 245, 245);
  background-position: center;
  background-size: cover;
  padding: 0;
}

main div.summary {
  position: relative;
  width: 100%;
  height: 350px;
}

main div.summary > div {
  box-sizing: border-box;
  padding: 64px;
  width: calc(7 * 100% / 12);
  height: 100%;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  text-align: left;
}

main div.summary.no-image > div {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  main div.summary picture {
    height: 350px;
    width: 100%;
  }
  main div.summary img {
    height: 100%;
    width: 100%;
  }
  main div.summary > div {
    padding: 32px;
  }
}

@media screen and (max-width: 768px) {
  main div.summary > div {
    width: 100%;
    padding: 32px;
  }
}

@media screen and (max-width: 415px) {
  main div.summary > div {
    box-sizing: border-box;
    padding: 32px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
}

main div.summary .spectrum-Heading {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
  color: white;
}

main div.summary p {
  margin-bottom: 24px !important;
  color: rgb(255, 255, 255);
  margin-top: 0;
}

main div.summary p a:hover {
  color: rgb(84, 84, 84);
}

main div.summary img {
  object-fit: cover;
  height: 350px;
}

main div.summary .spectrum-Button--secondary {
  border-color: white !important;
}

main div.summary.background-color-navy {
  background-color: rgb(15, 55, 95);
}

main div.summary.background-color-gray {
  background-color: rgb(245, 245, 245);
}

main div.summary.background-color-dark-gray {
  background-color: #323232;
}

main div.summary.background-color-white .spectrum-Heading, main div.summary.background-color-gray .spectrum-Heading {
  color: rgb(44, 44, 44);
}

main div.summary.background-color-white p, main div.summary.background-color-gray p  {
  color: rgb(44, 44, 44);
}

main div.summary.background-color-white .spectrum-Button--secondary, main div.summary.background-color-gray .spectrum-Button--secondary{
  border-color: rgb(44, 44, 44) !important;
}

main div.summary.background-color-white p a:hover, main div.summary.background-color-gray p a:hover {
  color: rgb(44, 44, 44);
}

main div.summary.background-color-white {
  background-color: rgb(255, 255, 255);
}


