main div.summary-container {
  background: rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  padding: 0;
}

main div.summary {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  main div.summary picture {
    height: 350px;
    width: 100%;
  }
  main div.summary img {
    height: 100%;
    width: 100%;
  }
}

main div.summary > div {
  box-sizing: border-box;
  padding: 64px;
  width: calc(7 * 100% / 12);
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: left;
  justify-content: center;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  main div.summary > div {
    width: auto;
    padding: 32px;
  }
}

main div.summary h2 {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

main div.summary p {
  margin-bottom: 24px !important;
  color: rgb(255, 255, 255);
  margin-top: 0;
}

main div.summary p a:hover {
  color: rgb(84, 84, 84);
}

main div.summary img {
  object-fit: cover;
}
